{% extends 'base.html' %}

{%block title%}
<title>學生資料管理系統-修改資料</title>
<style>
    h1,h3 {
        text-align: center;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    table,th,td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <h1 class="title">學生資料管理系統-修改資料</h1>
    <a href="/index/">
        <h3>回首頁</h3>
    </a>
</div>
<!-- action="(按下後)將會前往的畫面(網址)"-->  
<div>
    <form action="/edit/{{datas.cID}}/" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>*姓名</th>
                <td><input type="text" id="cName" name="cName" required placeholder="請輸入姓名" value="{{datas.cName}}" ></td>
            </tr>
            <tr>
                <th>*性別</th>
                <td>
                    <!-- (原)value="M"checked>男  改成→ if判斷 (datas)資料裡面的.cSex  -->
                    <input type="radio" id="cSex" name="cSex" value="M" {% if datas.cSex == "M" %}checked{% endif %}>男
                    <input type="radio" id="cSex" name="cSex" value="F" {% if datas.cSex == "F" %}checked{% endif %}>女
                </td>
            </tr>
            <tr>
                <th>*生日</th>
                <td><input type="date" id="cBirthday" name="cBirthday" value="{{datas.cBirthday|date:'y-m-d'}}" required></td>
            </tr>
            <tr>
                <th>*信箱</th>
                <td><input type="mail" id="cEmail" name="cEmail" required placeholder="請輸入mail" value="{{datas.cEmail}}"></td>
            </tr>
            <tr>
                <th>&nbsp;&nbsp;電話</th>
                <td><input type="text" id="cPhone" name="cPhone" value="{{datas.cPhone}}"></td>
            </tr>
            <tr>
                <th>&nbsp;&nbsp;地址</th>
                <td><input type="text" id="cAddr" name="cAddr" value="{{datas.cAddr}}"></td>
            </tr>
            <tr>
                <th colspan="2" style="text-align:center;">
                    <input type="submit" name="button" id="button" value="更新">
                    <input type="reset" name="button2" id="button2" value="清除">
                </th>

            </tr>
        </table>

    </form>
</div>

{% endblock %}